[Unit]
Description=huunifie
Wants=network-online.target
After=network-online.target network.target

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m huunifie
Restart=always
RestartSec=1s
WorkingDirectory=/var/log/
StandardOutput=null
StandardError=inherit
